<a href="{{ path('app_mini_twits_one', {id:miniTwit.id}) }}">
    <div class="flex border-b pt-2 {% if classes is defined %}{{classes}}{% endif %} hover:bg-gray-100">
        <div class="basis-1/6">
            <div class="mt-2 bg-gray-200 rounded-full mr-6 ml-4">
                {{ include('shared/_avatar.html.twig', {'sizeW':'w-16', 'sizeH':'h-16',userProfile:miniTwit.author.userProfile}) }}
            </div>
            {% if line is defined %}
                <div class="flex whitespace-pre-line">
                    <div class="border-l-2 border-gray-300 mt-1 ml-[47px] min-h-max">
                        
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="basis-5/6 mb-2">
            <div class="flex flex-col">
                <div class="ml-1">
                    <span class="truncate"><a href="{{ path('app_mini_twits_other_profile', {id:miniTwit.author.id}) }}" class="hover:underline"><span class="font-bold truncate">{{ miniTwit.author.userProfile.name ? miniTwit.author.userProfile.name : miniTwit.author.email }}</span></a> @{{ miniTwit.author.email }} · {{ miniTwit.created|date("M j") }}</span>
                </div>
                <div class="ml-1">
                    {{ miniTwit.description }}
                </div>
                <div class="mt-4 flex">
                    <div class="basis-1/4">
                    {% if app.user %}
                        <a href="{{ path('app_mini_twits_one', {id:miniTwit.id}) }}" class="hover:text-blue-300"><i class="fa-regular fa-comment hover:rounded-full p-2 hover:bg-gray-200"></i><span class="align-super">{{miniTwit.miniTwits.count}}</span></a>
                    {% else %}
                        <a href="{{path('app_login')}}" class="hover:text-blue-300"><i class="fa-regular fa-comment hover:rounded-full p-2 hover:bg-gray-200"></i><span class="align-super">{{miniTwit.miniTwits.count}}</span></a>
                    {% endif %}
                    </div>
                    <div class="basis-1/4">
                        <a href="#" class="hover:text-green-300"><i class="fa-solid fa-retweet hover:rounded-full p-2 hover:bg-gray-200"></i></a>
                    </div>
                    <div class="basis-1/4">
                        {% if app.user %}
                            {% if  miniTwit.likedBy.contains(app.user) %}
                                <a href="{{path('app_mini_twits_unlike',{id:miniTwit.id})}}" class="hover:text-red-300 font-bold"><i class="fa-regular fa-heart hover:rounded-full p-2 hover:bg-gray-200"></i><span class="align-super">{{ miniTwit.likedBy.count }}</span></a>
                            {% else %}
                                <a href="{{path('app_mini_twits_like',{id:miniTwit.id})}}" class="hover:text-red-300"><i class="fa-regular fa-heart hover:rounded-full p-2 hover:bg-gray-200"></i><span class="align-super">{{ miniTwit.likedBy.count }}</span></a>
                            {% endif %}
                        {% else %}
                            <a href="{{path('app_login')}}" class="hover:text-red-300"><i class="fa-regular fa-heart hover:rounded-full p-2 hover:bg-gray-200"></i><span class="align-super">{{ miniTwit.likedBy.count }}</span></a>
                        {% endif %}
                    </div>
                    <div class="basis-1/4">
                        <a href="#" class="hover:text-blue-300"><i class="fa-solid fa-arrow-up-from-bracket hover:rounded-full p-2 hover:bg-gray-200"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>