<div class="p-2 flex">
    <div class="basis-1/6">
        <div class="mt-2 bg-gray-200 rounded-full mr-6 ml-4">
            {{ include('shared/_avatar.html.twig', {'sizeW':'w-16', 'sizeH':'h-16',userProfile:follow.userProfile}) }}
        </div>
    </div>
    <div class="basis-5/6">
        <div class="flex mt-2">
            <div class="basis-4/5">
                <div class="flex flex-col">
                    <span class="truncate"><a href="{{ path('app_mini_twits_other_profile', {id:follow.id}) }}" class="hover:underline"><span class="font-bold truncate">{{ follow.userProfile.name ? follow.userProfile.name : follow.email }}</span></a></span>
                    <span class="text-sm">@{{ follow.email }}</span>
                </div>
            </div>
            <div class="basis-1/5 mt-2">
                {% if app.user == null or follow.id != app.user.id %}
                    {{ include('shared/_follow_button.html.twig', {user:user}) }}
                {% endif %}
            </div>
        </div>
        <div class="mt-4">
            {{ follow.userProfile.bio }}
        </div>
    </div>
</div>